@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
	text-align: center;
	background: var(--desktop-background);
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: 1.3em;
}

.App-interact-sidebar {
	background: var(--interact-background);
	height: calc(100vh - 36px);
	display: flex;
	justify-content: center;
}

.App-interact-fullscreen {
	background: var(--interact-background);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App-interact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	overflow-x: hidden;
	overflow-y: auto;
}

.App-interact > div {
	width: 80%;
	max-width: 100vh;
	margin: 2em 0;
}

.App-interact > div > *:last-child {
	margin-bottom: 0;
}

.App-video-container {
	margin: 2em;
}

.App-subtitles {
	background: var(--subtitles-background);
	color: var(--subtitles-text-color);
	font-family: Courier;
	font-size: 1.5em;
	position: absolute;
	width: 100%;
	height: 100%;
}

.App-subtitles-container {
	position: absolute;
	bottom: 0;
	left: 0;
}

.App-subtitles p {
	padding: 20px 40px;
}

.App button {
	font-size: 1em;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
	scale: 1;
}

.App button,
.App form input[type=submit] {
	font-family: var(--main-font);
	background: var(--button-background);
	border: 0;
	border-radius: 5px;
	color: var(--button-text-color);
	font-weight: bold;
}

.App button:disabled::after {
	content: "✅ selected";
	position: absolute;
	left: -2em;
	top: -1.5em;
	font-size: small;
	background: var(--alt-highlight-background);
	color: var(--highlight-text-color);
	padding: 10px 15px 10px 10px;
	border-radius: 5px;
}

.App button:hover,
.App form input[type=submit]:hover,
.App button:active,
.App button:disabled,
.App form input[type=submit]:active {
	background: var(--button-background-hover);
}

.App button.highlight {
	border: 5px var(--main-highlight-background) solid;
}

.App button.highlight::before {
	content: "⭐ winning";
	color: var(--highlight-text-color);
	position: absolute;
	right: 4em;
	top: -1.5em;
	font-size: small;	
	background: var(--main-highlight-background);
	padding: 10px 15px 10px 10px;
	border-radius: 5px;
}

.App #mod button.highlight::before {
	content: "";
	background: none;
}

.App button:hover,
.App form input[type=submit]:hover {
	scale: 1.05;
	cursor: pointer;
}

.App form {
	display: flex;
}

.App form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 1em;
	margin-bottom: 1em;
}

.App form input[type=text] {
	font-family: var(--main-font);
	width: 100%;
	flex-grow: 1;
	border: 1px solid black;
	background-color: white;
	color: black;
}

.App ol {
	text-align: left;
}

.App .bubble p {
	margin: 2.5em;
}

.App .preview {
	color: white;
	font-size: 0.8em;
	list-style-type: none;
	text-align: left;
	margin-bottom: 0.5em;
}

.video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.taskbar {
	background: var(--taskbar-background);
	color: var(--taskbar-text-color);
	height: 36px;
	width: 100%;
	display: flex;
	align-items: center;
	cursor: default;
	font-size: 0.9em;
}

.taskbar-left {
	flex-grow: 1;
	text-align: left;
	margin: 0 12px;
}

.taskbar-right {
	margin: 0 12px;
}

.taskbar-right div {
	display: flex;
	align-items: center;
}

.taskbar .active,
.taskbar button:hover {
	color:var(--taskbar-highlight-color);
}

.taskbar button {
	background: none;
	font-family: 'Material Icons';
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.taskbar button:hover {
	background: none;
	cursor: pointer;
}

.expander {
	position: absolute;
	left: 0;
	height: calc(100vh - 36px);
	display: flex;
	align-items: center;
}

.expander button {
	background: var(--taskbar-background);
	width: auto;
	border-radius: 0 2em 2em 0;
}

.gutter {
	height: auto !important;
}

iframe#webpack-dev-server-client-overlay {
	display:none!important;
}


.submitted-text{
	animation: bounce 1s forwards; 
}

@keyframes bounce {
  0% {
	opacity: 0;
    transform: translateY(0); 
  }
  15% {
	opacity: 1;
    transform: translateY(-25%); 
  }
  30% {
    transform: translateY(0); 
  }
  50% {
	opacity: 1;
  }
  100% {
	opacity: 0;
  }
}