
body {
  background: black;
  background: linear-gradient(45deg, black, darkslategray);
  font-family: Courier;
  color: white;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {

    background: white;
    background: linear-gradient(45deg, slategray, white);
  }
}

a {color: pink;}

.taskbar a {
  color: slategray;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  cursor: pointer;
}

button {
	font-family: Courier;
	font-size: 1em;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
}

button,
form input[type=submit] {
  background: rgba(0,0,0,0.8);
	border: 2px solid darkslategray;
	color: darkslategray;
	font-weight: bold;
}

button:focus{
	scale: 1.1;
	background: white;
}

button:active,
button:hover,
button:disabled,
form input[type=submit]:active,
form input[type=submit]:hover {
	border: 0.5px;
	background-color: deeppink;
}

#video-call-background {
  display: none;
}

.desktop {
  display: grid;
  grid-template-rows: 80px auto;
}

.desktopbackgroundimage {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100;
  background-image: url(https://intrapology.com/img/S01E01/background.png);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.5;
}

.taskbar {
  background-color: powderblue;
  background: linear-gradient(45deg, pink, powderblue);
  height: 20px;
  width: 100%;
  z-index: 50;
  padding: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: default;
}

.top {
  border: ridge;
  margin: -10px;
  padding: 10
  px;
}

.taskbar div {
 color: slategray;
}

.active {
  background: rgba(255,255,255,0.5);
  outline: solid 5px rgba(255,255,255,0.5);
}

#spacer {
  flex: 7;
}

.top, #videocall, #newsfeed {
  box-shadow: 3px 3px 3px darkslategray;
}

.desktop-icons {
  display: none; /*Do not display on mobile*/
}

.icon {
  width: 50px;
  height: 50px;
  color: pink;
  margin: 10px;
  font-size: 40px;
  cursor: default;
  text-shadow: 3px 3px 3px darkslategray;
}

#folder {
  color: powderblue;
}

#bin {
  color: white;
}

#music {
  color: hotpink;
}

.caption {
  display: none;
  font-size: 18px;
  color: slategray;
  font-family: Courier;
  text-shadow: none;
  z-index: 10;
}

.caption p{
	background: none;
}

.icon:hover .caption {
  display: block;
  position: absolute;
  background: lightgray;
  margin-top: 20px;
}

#starticon:hover .caption {
  display: block;
  position: absolute;
  background: pink;
  background: linear-gradient(45deg, pink, powderblue);
  z-index: 1;
  padding: 1em;
  left: 0;
  border: ridge;
  border-color: white;
  border-width: 0 3px 3px 0;
  box-shadow: 3px 3px 3px darkslategray;
}

#videocallmessage {
  margin:40px;
}

#videocall {
  display: none; /*Does not display on mobile*/
  resize: both;
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 77px;
  height: 70vh;
  width: 60vw;
  background-color: black;
  border: ridge;
  padding-top: 30px;
}

#videocall .taskbar {
	position: absolute;
	top: 0;
}

#subspace {
	display: none; /*Does not display on mobile*/
	position: absolute;
	bottom: 0;
}

#newsfeed {
  background-color: rgba(0,0,0,0.8);
  resize: horizontal;
  overflow: auto;
  border: ridge;
  scrollbar-color: powderblue slategray;
  position: absolute;
  height: 90vh;
  width: 90vw;
  right: 0;
  top: 20px;
  padding: 10px;
  color: white;
}

#newsfeed::after, #videocall::after {
	font-size: 2em;
	opacity: 0.3;
	position: absolute;
	right: 5px;
	bottom: 0;
}

/*#newsfeed::after {
	content: "\2194";
}

#videocall::after {
	content: "\2198";
}*/

#newsfeed p {
}

#newsfeed h2 {
  font-family: Impact, sans-serif;
}

::-webkit-scrollbar-track {
  background: slategray;
}

::-webkit-scrollbar-thumb {
  background: powderblue;
}

@media (min-width:800px) {
  #videocall {
    display: block;
  }

  #subspace {
  	  display: block;
	  width: 70vw;
  }
  
  #newsfeed {
    width: 25vw;
    min-width: 250px;
  }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
